.page-auth .row-login {
    min-height: 70vh;
}

.page-register {
    margin-top: 90px;
}

.form-control {
    background: #f3f3f3;
    border-radius: 8px;
}

.btn-signup {
    @include button-variant(#f3f3f3, transparent);
    color: #bbbbbb;
}

.section-store-auth h2 {
    font-size: 28px;
    color: #0c0d36;
    font-weight: 200;
    margin-top: 0;
}

.navbar-store {
    background-color: #ffff;
    color: violet;
}
