@media only screen and (max-width: 600px) {
  .side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: wheat;
    transition: 0.5s;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
}

@media only screen and (min-width: 992px) {

  .side-navbar {
      width: 180px;
      height: 100%;
      position: fixed;
      margin-left: -300px;
      /* background-color: wheat; */
      transition: 0.5s;
    }

    /* for main section */
    .active-cont {
      margin-left: 180px;
    }
}


  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }

  span {
    color: black;
  }

  .my-container {
    transition: 0.4s;
  }

  .active-nav {
    margin-left: 0;
  }



  #menu-btn {
    background-color: white;
    color: #fff;
    width: 60px;
    /* margin-left: -62px; */
  }

