  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

@media only screen and (max-width: 600px) {
  .side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: wheat;
    transition: 0.5s;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }

  .img-artist {
    width: 97%;
    height: 130px;
    object-fit: cover;
  }

  .crop-kategori {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }


}

@media only screen and (min-width: 992px) {

  .side-navbar {
      width: 180px;
      height: 100%;
      position: fixed;
      margin-left: -300px;
      background-color: wheat;
      transition: 0.5s;
    }

    /* for main section */
    .active-cont {
      margin-left: 180px;
    }

    .img-artist {
      width: 97%;
      height: 200px;
      object-fit: cover;
    }

    .crop-kategori {
      width: 97%;
      height: 130px;
      object-fit: cover;
    }

    .crop-img-produk {
      width: 100%;
      height: 230px;
      object-fit: cover;
    }

    .crop-img-detail-produk {
      width: 97%;
      /* height: 260px; */
      object-fit: cover;
    }

}


  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }

  span {
    color: black;
  }

  .my-container {
    transition: 0.4s;
  }

  .active-nav {
    margin-left: 0;
  }

  #menu-btn {
    background-color: white;
    color: #fff;
    width: 60px;
    /* margin-left: -62px; */
  }

  .card {
    color: black;
  }

  .chart-des-info {
    line-height: 30px;
  }

  .chart-info-harga {
    color: red;
    font-size: 20px;
  }

  .title-jangka-waktu {
    background-color: black;
    color: white;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
  }
  .title-biaya-pemasangan {
    background-color: black;
    color: white;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
  }

  .deskripsi-info-harga {
    padding: 7px;
  }

  .info-total-harga {
    color: red;
    font-size: 25px;
    font-weight: bold;
  }

  