.page-dashboard #page-content-wrapper {
    background: #f5f5fb;
    min-width: 100vw;
}

.page-dashboard #sidebar-wrapper {
    margin-top: 60px;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

.page-dashboard #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.page-dashboard #sidebar-wrapper .list-group {
    width: 15rem;
}

.page-dashboard #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.page-dashboard .navbar-store {
    margin-top: 0;
    background-color: #f5f5fb;
    -webkit-box-shadow: 0px 4px 5px #cacad1;
    box-shadow: 0px 4px 5px #cacad1;
}

@media (min-width: 768px) {
    .page-dashboard .navbar-store {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.page-dashboard .list-group-item {
    border: 0;
    font-size: 16px;
    color: #c5c5c5;
}

.page-dashboard .list-group-item.active {
    background: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(2%, rgba(255, 113, 88, 0.32)),
        to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
        270deg,
        rgba(255, 113, 88, 0.32) 2%,
        rgba(255, 255, 255, 0) 100%
    );
    border-right: 4px solid #ff7158;
    color: #0c0d36;
}

@media (min-width: 768px) {
    .page-dashboard #sidebar-wrapper {
        margin-left: 0;
        margin-top: 0px;
    }
    .page-dashboard #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    .page-dashboard #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.page-dashboard .section-content {
    margin-top: 100px;
}

@media (min-width: 768px) {
    .page-dashboard .section-content {
        margin-top: 20px;
        margin-left: 20px;
    }
}

.page-dashboard .section-content h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0c0d36;
}

.page-dashboard .section-content .dashboard-title {
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #0c0d36;
}

.page-dashboard .section-content .dashboard-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #9191a9;
}

.page-dashboard .section-content .product-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #c5c5c5;
}

.page-dashboard .section-content .product-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #0c0d36;
    margin-bottom: 20px;
}

.page-dashboard .section-content .nav-pills .nav-link {
    font-weight: 500;
    font-size: 18px;
    color: #9191a9;
    border-radius: 0;
}

.page-dashboard .section-content .nav-pills .nav-link.active {
    font-weight: 500;
    font-size: 18px;
    color: #0c0d36;
    border-bottom: 2px solid #0c0d36;
    background: none;
}

.page-dashboard .section-content .gallery-container .delete-gallery {
    display: block;
    position: absolute;
    top: -10px;
    right: 0px;
}
